.Landing {
  &-backdrop {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
    & img {
      height: 100vh;
      min-height: 100vh;
      transform: rotateY(180deg);
    }
  }
  &-switch {
    display: flex;
    align-items: center;
    gap: 1rem;

    & span {
      font-style: italic;
    }
  }
  &-signup-text {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    padding: 0.5rem;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.1) 90%,
      var(--dark-main-color) 90%,
      var(--dark-main-color) 100%
    );
    letter-spacing: 1px;
    &:hover {
      cursor: pointer;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.1) 90%,
        var(--accent-one-color) 90%,
        var(--accent-one-color) 100%
      );
    }
  }
  &-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    // background-color: rgba(10, 10, 18, 0.4);
    background-color: rgba(255, 255, 255, 0.1);
    height: 100vh;
    backdrop-filter: blur(5px);
    color: white;
    & form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      color: white !important;
    }
    &-input {
      backdrop-filter: blur(2px);
      background-color: rgba(255, 255, 255, 0.85);
      box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%),
        0 2px 6px 2px rgb(60 64 67 / 15%);
      border-radius: 5px;
    }
    &-img {
      display: flex;
      align-items: center;
      flex-direction: column;
      letter-spacing: 3px;
      -webkit-text-stroke: 0.5px var(--main-color);
      color: whitesmoke;
      font-size: 1.1rem;
      text-align: center;
      & h1 {
        padding-bottom: 0.5rem;
        text-shadow: 0px 0px 2px black;
      }
      & img {
        width: 30vw;
        max-width: 225px;
      }
    }
  }
}

@media (min-width: 1200px) {
  .Landing {
    display: flex;
    justify-content: flex-end;
    &-login {
      background-color: rgba(0, 0, 0, 0.4);
      width: 40vw;
      max-width: 500px;
      backdrop-filter: blur(10px);
    }
  }
}
