body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
:root {
  --main-color: #74adf8;
  --dark-main-color: #4288e2;
  --main-fade-color: #fe000086;
  --accent-one-color: #f2a127;
  --accent-one-dark-color: #e19018;
}
